<div class="row">
  <%= render "result" %>

    
  <!--<h5>my friends</h5>-->
  <!--  <% @friends.each do |friend| %>-->
  <!--    <%= friend.nickname %>-->
  <!--    <% if current_user.friends_with?(friend) %>-->
  <!--      <form action="/friends/f_block" method="post">-->
  <!--        <input type="hidden" name="friend" value="<%= friend.nickname %>">-->
  <!--        <button type="submit">blocking <%= friend.nickname %></button>-->
  <!--      </form>-->
  <!--    <% else %>-->
  <!--      <form action="/friends/f_request" method="post">-->
  <!--        <input type="hidden" name="friend" value="<%= friend.nickname %>">-->
  <!--        <button type="submit">request <%= friend.nickname %></button>-->
  <!--      </form>-->
  <!--    <% end %>-->
  <!--  <% end %>-->
  <!--<>-->
  <!--<% @requested.each do |r| %>-->
  <!--  <%= r.nickname %>-->
  <!--  <form action="friends/f_accept" method="post">-->
  <!--    <input type="hidden" name="friend" value="<%= r.nickname %>">-->
  <!--    <button type="submit">accept</button>-->
  <!--  </form>-->
  <!--<% end %>-->

</div>